# ###########################
# Regeln für database-group-check
# ###########################

# Python Virtual Environment
# Ignoriert den kompletten Ordner mit allen Paketen
database-group-check/.venv/

# Python Cache-Dateien
database-group-check/__pycache__/
database-group-check/*.pyc

# IDE-spezifische Einstellungen (z.B. von PyCharm)
database-group-check/.idea/
.idea

# Sensible Dateien
# WICHTIG: Verhindert, dass Passwörter, API-Keys oder Cookies hochgeladen werden
database-group-check/.env
database-group-check/cookies.json

database-group-check/moodle_gruppen.json
